/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */ dl, dt, dd, ul, ol, li, /* list elements 列表元素 */ pre, /* text formatting elements 文本格式元素 */ form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */ th, td /* table elements 表格元素 */{margin: 0; padding: 0;}
/** 设置默认字体 **/
body, button, input, select, textarea /* for ie */{  font-family:"宋体","Helvetica Neue",Helvetica,Arial!important; font-size: 12px;}
h1, h2, h3, h4, h5, h6{font-size: 12px; text-rendering: auto;}
address, cite, dfn, em, var, i{font-style: normal;} /* 将斜体扶正 */
code, kbd, pre, samp{font-family: courier new, courier, monospace;} /* 统一等宽字体 */
small{font-size: 12px;} /* 小于 12px 的中文很难阅读，让 small 正常化 */
/** 重置列表元素 **/
li{line-height: normal;}
/** 重置文本格式元素 **/
a{text-decoration: none;}
a:hover{text-decoration: underline;}
/** 重置表单元素 **/
legend{color: #000;} /* for ie6 */
fieldset, img{border: 0;} /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea{font-size: 12px;} /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table{border-collapse: collapse; border-spacing: 0;}
/*去除箭头*/
textarea{resize: none;}
/* 清除浮动 */
.ks-clear:after, .clear:after{content: '\20'; display: block; height: 0; clear: both;}
.ks-clear, .clear{*zoom: 1;}
a:active, a:hover{color: #6b5234; text-decoration: none;}
select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{margin-bottom: 0;}
*,*:before,*:after{-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}/*盒模型--区分所定宽度和border，padding的宽度*/
/*-------------------</END 重置>-----------------------*/
body{overflow-y: scroll; overflow-x: hidden;}
.content{width: 100%;}
.content-box{max-width: 1030px; margin: 0 auto; padding-bottom: 5px;}
.body-left{width: 100%; float: none;}
.body-right{width: 100%; float: none;}
.tpl_one .col-md-12{padding: 0;}
.jxui{font-size: 14px;}
.row{margin: 0 !important;}
.jxui .line{width: 100%; height: 2px; background: #d9d9d9; overflow: hidden; position: relative;}
.jxui .line span{display: block; position: absolute; top: 0; left: 0; width: 120px; height: 2px; background: #f27406;}
/*留言列表*/
.jxui.xmessagelist .content-box{margin: 20px 0;}
@media screen and (max-width: 800px){.jxui.xmessagelist .maxsize{padding: 10px;}}
